<head>
  <meta charset="UTF-8">
  <title>Casas Para Actividades</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/stylesheets/normalize.css" media="screen">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/stylesheets/stylesheet.css" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/stylesheets/github-light.css" media="screen">

  <!--Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.github.url }}/images/apple-touch-icon.png?v=vMrgexvXXk">
  <link rel="icon" type="image/png" href="{{ site.github.url }}/images/favicon-32x32.png?v=vMrgexvXXk" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.github.url }}/images/favicon-16x16.png?v=vMrgexvXXk" sizes="16x16">
  <link rel="manifest" href="{{ site.github.url }}/images/manifest.json?v=vMrgexvXXk">
  <link rel="mask-icon" href="{{ site.github.url }}/images/safari-pinned-tab.svg?v=vMrgexvXXk" color="#5bbad5">
  <link rel="shortcut icon" href="{{ site.github.url }}/images/favicon.ico?v=vMrgexvXXk">
  <meta name="apple-mobile-web-app-title" content="Casas de Retiro">
  <meta name="application-name" content="Casas de Retiro">
  <meta name="msapplication-config" content="{{ site.github.url }}/images/browserconfig.xml?v=vMrgexvXXk">
  <meta name="theme-color" content="#ffffff">
</head>
