.customdl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}

.main-content dl dt{
  margin-top: 0;
}

.customdt{
  float: left;
  width: 25%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0;
}

.customdd{
  float: left;
  width: 75%;
  margin-top: 0;
  margin-bottom: 0;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0
}
