<html lang="es-ES">
{% include head.html %}
<body>
    <section class="page-header">
      <h1 class="project-name">Casas de Jornadas</h1>
      <h2 class="project-tagline">Vos planificas la actividad nosotros resolvemos los detalles</h2>
      <a class="btn" href="{{ site.github.url }}">Home</a>
      <a class="btn" href="{{ site.github.url }}/lista_casas">Casas</a>
      <a class="btn" href="{{ site.github.url }}/contacto">Contacto</a>
      <a class="btn" href="{{ site.github.url }}/typeform.html">Reservar</a>
    </section>
    <section class="main-content">
    {{content}}
    </section>
    <!-- Useful for styles with static names...
<link href="{{ site.github.url }}/path/to/css.css" rel="stylesheet">
<!-- and for documents/pages whose URL's can change...
<a href="{{ page.url | prepend: site.github.url }}">{{ page.title }}</a>-->
{% include footer.html %}
</body>
</html>
