<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <meta charset="UTF-8">
    <title>Casas Para Actividades</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-84146712-1', 'auto');
  ga('send', 'pageview');
</script>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
</script>
    <!--Favicon -->

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png?v=vMrgexvXXk">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png?v=vMrgexvXXk" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png?v=vMrgexvXXk" sizes="16x16">
    <link rel="manifest" href="/images/manifest.json?v=vMrgexvXXk">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg?v=vMrgexvXXk" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicon.ico?v=vMrgexvXXk">
    <meta name="apple-mobile-web-app-title" content="Casas de Retiro">
    <meta name="application-name" content="Casas de Retiro">
    <meta name="msapplication-config" content="/images/browserconfig.xml?v=vMrgexvXXk">
    <meta name="theme-color" content="#ffffff">  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Casas para Actividades</h1>
      <h2 class="project-tagline">Vos planificas la actividad nosotros resolvemos los detalles</h2>
      <a class="btn" href="https://martindafonte.typeform.com/to/lf0Nx4" data-mode="1" target="_blank">Contacto</a>

    </section>
    <section class="main-content">
    {{content}}
    </section>
    <!-- Useful for styles with static names...
<link href="{{ site.github.url }}/path/to/css.css" rel="stylesheet">
<!-- and for documents/pages whose URL's can change...
<a href="{{ page.url | prepend: site.github.url }}">{{ page.title }}</a>-->
  </body>
</html>
